APP_NAME="City Bus ERP"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://citybus.holdingtptinvestissement.com
APP_TIMEZONE=Africa/Brazzaville
APP_LOCALE=fr
APP_KEY=base64:CHANGE_ME_GENERATE_RANDOM_32_BYTES

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u487567018_citybus
DB_USERNAME=u487567018_citybus
DB_PASSWORD=CHANGE_ME

SESSION_LIFETIME=120
SESSION_NAME=citybus_session

LOG_CHANNEL=file
LOG_LEVEL=error

MAIL_FROM_ADDRESS=no-reply@holdingtptinvestissement.com
MAIL_FROM_NAME="City Bus ERP"
