-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: citybus_erp
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agencies`
--

DROP TABLE IF EXISTS `agencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agencies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL,
  `city_id` bigint(20) unsigned NOT NULL,
  `type` enum('principale','point_vente','controle','parking') NOT NULL,
  `address` varchar(200) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `manager_id` bigint(20) unsigned DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_agencies_city_type` (`type`),
  KEY `fk_agencies_city` (`city_id`),
  CONSTRAINT `fk_agencies_city` FOREIGN KEY (`city_id`) REFERENCES `cities` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `app_settings`
--

DROP TABLE IF EXISTS `app_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_settings` (
  `setting_key` varchar(100) NOT NULL,
  `category` varchar(40) NOT NULL,
  `setting_type` enum('string','int','bool','json','secret','text') NOT NULL DEFAULT 'string',
  `setting_value` text DEFAULT NULL,
  `label` varchar(180) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_secret` tinyint(1) NOT NULL DEFAULT 0,
  `sort_order` int(11) NOT NULL DEFAULT 100,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`setting_key`),
  KEY `idx_settings_cat` (`category`,`sort_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `action` varchar(80) NOT NULL,
  `entity` varchar(80) DEFAULT NULL,
  `entity_id` bigint(20) unsigned DEFAULT NULL,
  `details_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`details_json`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_audit_user` (`user_id`),
  KEY `idx_audit_entity` (`entity`,`entity_id`),
  KEY `idx_audit_action` (`action`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `baggage_tariff_brackets`
--

DROP TABLE IF EXISTS `baggage_tariff_brackets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `baggage_tariff_brackets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `baggage_tariff_id` bigint(20) unsigned NOT NULL,
  `weight_from_kg` decimal(5,1) NOT NULL COMMENT 'Poids minimum de la tranche (inclus)',
  `weight_to_kg` decimal(5,1) DEFAULT NULL COMMENT 'Poids maximum (inclus) ΓÇô NULL = sans limite',
  `price_fcfa` int(10) unsigned NOT NULL COMMENT 'Prix pour cette tranche enti├¿re',
  `sort_order` tinyint(3) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_btb_tariff_sort` (`baggage_tariff_id`,`sort_order`),
  CONSTRAINT `fk_btb_tariff` FOREIGN KEY (`baggage_tariff_id`) REFERENCES `baggage_tariffs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `baggage_tariffs`
--

DROP TABLE IF EXISTS `baggage_tariffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `baggage_tariffs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `line_id` bigint(20) unsigned NOT NULL,
  `tariff_id` bigint(20) unsigned DEFAULT NULL,
  `baggage_nature_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Tableau JSON des IDs de natures de bagage (ex: [1,3])' CHECK (json_valid(`baggage_nature_ids`)),
  `label` varchar(150) NOT NULL COMMENT 'Libell├⌐ descriptif (ex: Exc├⌐dent standard ΓÇô ligne BZV-PNR)',
  `base_fee_fcfa` int(10) unsigned NOT NULL DEFAULT 0 COMMENT 'Frais fixes par colis (peut ├¬tre 0)',
  `per_kg_fcfa` int(10) unsigned DEFAULT NULL COMMENT 'Prix fixe par kg ΓÇô NULL si mode tranches',
  `bracket_mode` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1 = utiliser les tranches de baggage_tariff_brackets',
  `volume_surcharge_fcfa` int(10) unsigned DEFAULT NULL COMMENT 'Surcharge si hors dimensions autoris├⌐es',
  `max_weight_kg` decimal(5,1) DEFAULT NULL COMMENT 'Poids max accept├⌐ (kg)',
  `max_length_cm` smallint(5) unsigned DEFAULT NULL,
  `max_width_cm` smallint(5) unsigned DEFAULT NULL,
  `max_height_cm` smallint(5) unsigned DEFAULT NULL,
  `max_girth_cm` smallint(5) unsigned DEFAULT NULL COMMENT 'P├⌐rim├¿tre (2├ù(L+l)) max en cm',
  `max_volume_cm3` int(10) unsigned DEFAULT NULL COMMENT 'Volume max du colis (cm┬│) au-del├á duquel la surcharge volumineux s''applique',
  `valid_from` date DEFAULT NULL,
  `valid_until` date DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_bt_line_active` (`line_id`,`is_active`),
  KEY `idx_bgt_tariff_id` (`tariff_id`),
  KEY `idx_baggage_resolve` (`line_id`,`is_active`,`valid_from`,`valid_until`),
  CONSTRAINT `fk_bgttar_tariff` FOREIGN KEY (`tariff_id`) REFERENCES `tariffs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_bt_line` FOREIGN KEY (`line_id`) REFERENCES `bus_lines` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `baggage_ticket_sequences`
--

DROP TABLE IF EXISTS `baggage_ticket_sequences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `baggage_ticket_sequences` (
  `year` smallint(5) unsigned NOT NULL,
  `last_seq` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`year`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `baggage_tickets`
--

DROP TABLE IF EXISTS `baggage_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `baggage_tickets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_number` varchar(30) NOT NULL,
  `trip_id` bigint(20) unsigned NOT NULL,
  `line_id` bigint(20) unsigned NOT NULL,
  `passenger_ticket_id` bigint(20) unsigned DEFAULT NULL,
  `passenger_name` varchar(120) NOT NULL,
  `passenger_phone` varchar(20) DEFAULT NULL,
  `baggage_tariff_id` bigint(20) unsigned NOT NULL,
  `baggage_nature_id` bigint(20) unsigned NOT NULL,
  `weight_kg` decimal(6,2) NOT NULL,
  `length_cm` smallint(5) unsigned DEFAULT NULL,
  `width_cm` smallint(5) unsigned DEFAULT NULL,
  `height_cm` smallint(5) unsigned DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `base_fee_fcfa` int(10) unsigned NOT NULL DEFAULT 0,
  `weight_fee_fcfa` int(10) unsigned NOT NULL DEFAULT 0,
  `volume_surcharge_fcfa` int(10) unsigned NOT NULL DEFAULT 0,
  `total_price_fcfa` int(10) unsigned NOT NULL,
  `agency_id` bigint(20) unsigned NOT NULL DEFAULT 1,
  `sold_by` bigint(20) unsigned NOT NULL,
  `cash_register_id` bigint(20) unsigned DEFAULT NULL,
  `status` enum('emis','embarque','valide','arrive','annule') NOT NULL DEFAULT 'emis',
  `cancelled_at` datetime DEFAULT NULL,
  `cancelled_by` int(10) unsigned DEFAULT NULL,
  `cancel_reason` varchar(255) DEFAULT NULL,
  `pdf_path` varchar(255) DEFAULT NULL,
  `qr_code_path` varchar(255) DEFAULT NULL,
  `sold_at` datetime NOT NULL DEFAULT current_timestamp(),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ticket_number` (`ticket_number`),
  KEY `fk_bgt_tariff` (`baggage_tariff_id`),
  KEY `fk_bgt_nature` (`baggage_nature_id`),
  KEY `fk_bgt_seller` (`sold_by`),
  KEY `idx_bgt_trip` (`trip_id`),
  KEY `idx_bgt_line` (`line_id`),
  KEY `idx_bgt_ptkt` (`passenger_ticket_id`),
  KEY `idx_bgt_sold` (`sold_at`),
  KEY `idx_bgt_status` (`status`),
  CONSTRAINT `fk_bgt_line` FOREIGN KEY (`line_id`) REFERENCES `bus_lines` (`id`),
  CONSTRAINT `fk_bgt_nature` FOREIGN KEY (`baggage_nature_id`) REFERENCES `tariff_baggage_natures` (`id`),
  CONSTRAINT `fk_bgt_ptkt` FOREIGN KEY (`passenger_ticket_id`) REFERENCES `tickets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_bgt_seller` FOREIGN KEY (`sold_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_bgt_tariff` FOREIGN KEY (`baggage_tariff_id`) REFERENCES `baggage_tariffs` (`id`),
  CONSTRAINT `fk_bgt_trip` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bus_lines`
--

DROP TABLE IF EXISTS `bus_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bus_lines` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL,
  `name` varchar(120) NOT NULL,
  `departure_city_id` bigint(20) unsigned NOT NULL,
  `arrival_city_id` bigint(20) unsigned NOT NULL,
  `distance_km` decimal(8,2) DEFAULT NULL,
  `duration_hours` decimal(4,2) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `fk_lines_dep_city` (`departure_city_id`),
  KEY `fk_lines_arr_city` (`arrival_city_id`),
  CONSTRAINT `fk_lines_arr_city` FOREIGN KEY (`arrival_city_id`) REFERENCES `cities` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_lines_dep_city` FOREIGN KEY (`departure_city_id`) REFERENCES `cities` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `buses`
--

DROP TABLE IF EXISTS `buses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `buses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL,
  `plate` varchar(20) NOT NULL,
  `brand` varchar(50) DEFAULT NULL,
  `model` varchar(50) DEFAULT NULL,
  `engine_number` varchar(50) DEFAULT NULL,
  `vin` varchar(50) DEFAULT NULL,
  `body_type` varchar(30) DEFAULT NULL,
  `color` varchar(30) DEFAULT NULL,
  `fuel_type` enum('diesel','essence','hybride','electrique') DEFAULT NULL,
  `transmission` enum('manuelle','automatique') DEFAULT NULL,
  `year` smallint(5) unsigned DEFAULT NULL,
  `seats` tinyint(3) unsigned NOT NULL DEFAULT 47,
  `agency_id` bigint(20) unsigned DEFAULT NULL,
  `status` enum('disponible','en_voyage','maintenance','hors_service') NOT NULL DEFAULT 'disponible',
  `km_current` int(10) unsigned NOT NULL DEFAULT 0,
  `mileage_at_purchase` int(10) unsigned DEFAULT 0,
  `purchase_date` date DEFAULT NULL,
  `insurance_expiry` date DEFAULT NULL,
  `insurance_company` varchar(100) DEFAULT NULL,
  `insurance_policy` varchar(100) DEFAULT NULL,
  `tech_control_expiry` date DEFAULT NULL,
  `tech_control_center` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `length_m` decimal(5,2) DEFAULT NULL,
  `width_m` decimal(5,2) DEFAULT NULL,
  `height_m` decimal(5,2) DEFAULT NULL,
  `weight_empty_kg` int(10) unsigned DEFAULT NULL,
  `weight_max_kg` int(10) unsigned DEFAULT NULL,
  `cargo_capacity_kg` int(10) unsigned DEFAULT NULL,
  `fuel_tank_l` smallint(5) unsigned DEFAULT NULL,
  `consumption_avg_l` decimal(5,2) DEFAULT NULL,
  `axles_count` tinyint(3) unsigned DEFAULT NULL,
  `abs_brakes` tinyint(1) NOT NULL DEFAULT 0,
  `esp_system` tinyint(1) NOT NULL DEFAULT 0,
  `retarder` tinyint(1) NOT NULL DEFAULT 0,
  `seatbelts_all` tinyint(1) NOT NULL DEFAULT 0,
  `tachograph` tinyint(1) NOT NULL DEFAULT 0,
  `airbags_count` tinyint(3) unsigned DEFAULT NULL,
  `gps_provider` varchar(60) DEFAULT NULL,
  `gps_device_id` varchar(60) DEFAULT NULL,
  `gps_sim_number` varchar(30) DEFAULT NULL,
  `purchase_price_fcfa` bigint(20) unsigned DEFAULT NULL,
  `supplier` varchar(100) DEFAULT NULL,
  `financing_type` enum('cash','leasing','credit','don') DEFAULT NULL,
  `registration_card_number` varchar(50) DEFAULT NULL,
  `registration_card_date` date DEFAULT NULL,
  `primary_driver_id` bigint(20) unsigned DEFAULT NULL,
  `next_maintenance_at` date DEFAULT NULL,
  `next_maintenance_km` int(10) unsigned DEFAULT NULL,
  `ac` tinyint(1) NOT NULL DEFAULT 0,
  `wifi` tinyint(1) NOT NULL DEFAULT 0,
  `gps_tracker` tinyint(1) NOT NULL DEFAULT 0,
  `equipment_extra` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`equipment_extra`)),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `plate` (`plate`),
  KEY `idx_buses_status` (`status`),
  KEY `idx_buses_agency` (`agency_id`),
  KEY `idx_buses_primary_driver` (`primary_driver_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cash_register_entries`
--

DROP TABLE IF EXISTS `cash_register_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash_register_entries` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cash_register_id` bigint(20) unsigned NOT NULL,
  `entry_type` varchar(40) NOT NULL,
  `amount_fcfa` int(11) NOT NULL,
  `reference_type` varchar(40) DEFAULT NULL,
  `reference_id` bigint(20) unsigned DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cre_register` (`cash_register_id`),
  KEY `idx_cre_ref` (`reference_type`,`reference_id`),
  KEY `idx_cre_created` (`created_at`),
  CONSTRAINT `fk_cre_register` FOREIGN KEY (`cash_register_id`) REFERENCES `cash_registers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cash_registers`
--

DROP TABLE IF EXISTS `cash_registers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash_registers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `agency_id` bigint(20) unsigned NOT NULL,
  `cashier_id` bigint(20) unsigned NOT NULL,
  `opening_amount` int(10) unsigned NOT NULL DEFAULT 0,
  `opened_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `closed_at` timestamp NULL DEFAULT NULL,
  `status` enum('ouverte','cloturee') NOT NULL DEFAULT 'ouverte',
  PRIMARY KEY (`id`),
  KEY `fk_cr_agency` (`agency_id`),
  KEY `idx_cr_status` (`status`),
  KEY `idx_cr_cashier` (`cashier_id`,`status`),
  CONSTRAINT `fk_cr_agency` FOREIGN KEY (`agency_id`) REFERENCES `agencies` (`id`),
  CONSTRAINT `fk_cr_cashier` FOREIGN KEY (`cashier_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `checkpoints`
--

DROP TABLE IF EXISTS `checkpoints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `checkpoints` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `agency_id` bigint(20) unsigned NOT NULL,
  `line_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `km_on_line` decimal(8,2) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `fk_checkpoints_agency` (`agency_id`),
  KEY `fk_checkpoints_line` (`line_id`),
  CONSTRAINT `fk_checkpoints_agency` FOREIGN KEY (`agency_id`) REFERENCES `agencies` (`id`),
  CONSTRAINT `fk_checkpoints_line` FOREIGN KEY (`line_id`) REFERENCES `bus_lines` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cities`
--

DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `region` varchar(50) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `display_order` int(11) NOT NULL DEFAULT 100,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_cities_slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `daily_closures`
--

DROP TABLE IF EXISTS `daily_closures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_closures` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cash_register_id` bigint(20) unsigned NOT NULL,
  `theoretical_amount` int(10) unsigned NOT NULL,
  `declared_amount` int(10) unsigned NOT NULL,
  `gap_amount` int(11) NOT NULL,
  `ticket_count` int(10) unsigned NOT NULL,
  `closed_by` bigint(20) unsigned NOT NULL,
  `validated_by` bigint(20) unsigned DEFAULT NULL,
  `validated_at` timestamp NULL DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `closed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_dc_cr` (`cash_register_id`),
  KEY `fk_dc_closer` (`closed_by`),
  CONSTRAINT `fk_dc_closer` FOREIGN KEY (`closed_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_dc_cr` FOREIGN KEY (`cash_register_id`) REFERENCES `cash_registers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `drivers`
--

DROP TABLE IF EXISTS `drivers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `drivers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `matricule` varchar(20) NOT NULL,
  `first_name` varchar(60) NOT NULL,
  `last_name` varchar(60) NOT NULL,
  `birth_date` date DEFAULT NULL,
  `birth_place` varchar(80) DEFAULT NULL,
  `gender` enum('M','F') DEFAULT NULL,
  `marital_status` enum('celibataire','marie','divorce','veuf') DEFAULT NULL,
  `children_count` tinyint(3) unsigned DEFAULT 0,
  `nationality` varchar(50) DEFAULT 'Congolaise',
  `blood_type` varchar(5) DEFAULT NULL,
  `national_id` varchar(40) DEFAULT NULL,
  `national_id_expiry` date DEFAULT NULL,
  `phone` varchar(20) NOT NULL,
  `phone_alt` varchar(20) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `city` varchar(60) DEFAULT NULL,
  `emergency_name` varchar(100) DEFAULT NULL,
  `emergency_phone` varchar(20) DEFAULT NULL,
  `emergency_relation` varchar(50) DEFAULT NULL,
  `license_number` varchar(50) NOT NULL,
  `license_categories` varchar(40) DEFAULT NULL,
  `license_issue_date` date DEFAULT NULL,
  `license_expiry` date NOT NULL,
  `license_authority` varchar(100) DEFAULT NULL,
  `medical_cert_expiry` date DEFAULT NULL,
  `psycho_test_expiry` date DEFAULT NULL,
  `drug_test_last` date DEFAULT NULL,
  `hire_date` date NOT NULL,
  `experience_years` tinyint(3) unsigned DEFAULT 0,
  `previous_employer` varchar(120) DEFAULT NULL,
  `agency_id` bigint(20) unsigned DEFAULT NULL,
  `primary_bus_id` bigint(20) unsigned DEFAULT NULL,
  `status` enum('actif','conge','suspendu','en_formation','quitte','accident') NOT NULL DEFAULT 'actif',
  `salary_base` int(10) unsigned DEFAULT 0,
  `daily_bonus` int(10) unsigned DEFAULT 0,
  `km_bonus_rate` decimal(8,2) DEFAULT 0.00,
  `bank_name` varchar(80) DEFAULT NULL,
  `bank_account` varchar(60) DEFAULT NULL,
  `mobile_money_number` varchar(20) DEFAULT NULL,
  `rating_score` decimal(3,1) NOT NULL DEFAULT 5.0,
  `total_trips` int(10) unsigned NOT NULL DEFAULT 0,
  `total_km` int(10) unsigned NOT NULL DEFAULT 0,
  `accidents_count` smallint(5) unsigned NOT NULL DEFAULT 0,
  `warnings_count` smallint(5) unsigned NOT NULL DEFAULT 0,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `matricule` (`matricule`),
  KEY `idx_drivers_status` (`status`),
  KEY `idx_drivers_agency` (`agency_id`),
  KEY `idx_drivers_primary_bus` (`primary_bus_id`),
  KEY `idx_drivers_license_expiry` (`license_expiry`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `matricule` varchar(20) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `agency_id` bigint(20) unsigned NOT NULL,
  `position` varchar(50) NOT NULL,
  `salary_base` int(10) unsigned NOT NULL,
  `daily_bonus` int(10) unsigned NOT NULL DEFAULT 0,
  `hire_date` date NOT NULL,
  `status` enum('actif','conge','suspendu','quitte') NOT NULL DEFAULT 'actif',
  `license_number` varchar(50) DEFAULT NULL,
  `license_expiry` date DEFAULT NULL,
  `medical_expiry` date DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `matricule` (`matricule`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `fk_emp_agency` (`agency_id`),
  KEY `idx_emp_position` (`position`),
  KEY `idx_emp_status` (`status`),
  CONSTRAINT `fk_emp_agency` FOREIGN KEY (`agency_id`) REFERENCES `agencies` (`id`),
  CONSTRAINT `fk_emp_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `entity_notes`
--

DROP TABLE IF EXISTS `entity_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entity_notes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` bigint(20) unsigned NOT NULL,
  `content` text NOT NULL,
  `author_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_entity_notes_entity` (`entity_type`,`entity_id`,`deleted_at`),
  KEY `idx_entity_notes_author` (`author_id`),
  CONSTRAINT `fk_entity_notes_author` FOREIGN KEY (`author_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fuel_logs`
--

DROP TABLE IF EXISTS `fuel_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fuel_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `bus_id` bigint(20) unsigned NOT NULL,
  `trip_id` bigint(20) unsigned DEFAULT NULL,
  `liters` decimal(8,2) NOT NULL,
  `price_per_liter` decimal(8,2) NOT NULL DEFAULT 625.00,
  `total_cost` int(10) unsigned NOT NULL,
  `km_at_fill` int(10) unsigned DEFAULT NULL,
  `station_name` varchar(100) DEFAULT NULL,
  `logged_by` bigint(20) unsigned NOT NULL,
  `logged_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_fl_trip` (`trip_id`),
  KEY `idx_fl_bus_date` (`bus_id`,`logged_at`),
  CONSTRAINT `fk_fl_bus` FOREIGN KEY (`bus_id`) REFERENCES `buses` (`id`),
  CONSTRAINT `fk_fl_trip` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `incidents`
--

DROP TABLE IF EXISTS `incidents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incidents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `subject_type` enum('bus','driver') NOT NULL,
  `subject_id` bigint(20) unsigned NOT NULL,
  `bus_id` bigint(20) unsigned DEFAULT NULL,
  `driver_id` bigint(20) unsigned DEFAULT NULL,
  `type` enum('accident','panne','retard','infraction','altercation','vol','autre') NOT NULL,
  `severity` enum('mineur','modere','grave','critique') NOT NULL DEFAULT 'mineur',
  `occurred_at` datetime NOT NULL,
  `location` varchar(150) DEFAULT NULL,
  `description` text NOT NULL,
  `cost_fcfa` bigint(20) unsigned DEFAULT 0,
  `resolved` tinyint(1) NOT NULL DEFAULT 0,
  `resolved_at` datetime DEFAULT NULL,
  `resolution_notes` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_inc_subject` (`subject_type`,`subject_id`),
  KEY `idx_inc_bus` (`bus_id`),
  KEY `idx_inc_driver` (`driver_id`),
  KEY `idx_inc_date` (`occurred_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `login_attempts`
--

DROP TABLE IF EXISTS `login_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_attempts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(120) DEFAULT NULL,
  `ip_address` varchar(45) NOT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `success` tinyint(1) NOT NULL DEFAULT 0,
  `attempted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_attempts_email_time` (`email`,`attempted_at`),
  KEY `idx_attempts_ip_time` (`ip_address`,`attempted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `login_history`
--

DROP TABLE IF EXISTS `login_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_history` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `logged_in_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_login_user` (`user_id`,`logged_in_at`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `luggage_tags`
--

DROP TABLE IF EXISTS `luggage_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `luggage_tags` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_id` bigint(20) unsigned NOT NULL,
  `type` enum('franchise','excedent') NOT NULL,
  `weight_kg` decimal(5,2) DEFAULT NULL,
  `price_fcfa` int(10) unsigned NOT NULL DEFAULT 0,
  `tag_number` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_luggage_ticket` (`ticket_id`),
  CONSTRAINT `fk_luggage_ticket` FOREIGN KEY (`ticket_id`) REFERENCES `tickets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `maintenance_orders`
--

DROP TABLE IF EXISTS `maintenance_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_orders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `bus_id` bigint(20) unsigned NOT NULL,
  `type` enum('preventive','corrective') NOT NULL,
  `description` text NOT NULL,
  `estimated_cost` int(10) unsigned DEFAULT NULL,
  `actual_cost` int(10) unsigned DEFAULT NULL,
  `status` enum('planifie','en_cours','termine','annule') NOT NULL DEFAULT 'planifie',
  `scheduled_at` date DEFAULT NULL,
  `started_at` timestamp NULL DEFAULT NULL,
  `done_at` timestamp NULL DEFAULT NULL,
  `mechanic_id` bigint(20) unsigned DEFAULT NULL,
  `parts_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`parts_json`)),
  `invoice_ref` varchar(50) DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_mo_bus_status` (`bus_id`,`status`),
  CONSTRAINT `fk_mo_bus` FOREIGN KEY (`bus_id`) REFERENCES `buses` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `media`
--

DROP TABLE IF EXISTS `media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `media` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mediable_type` varchar(64) NOT NULL,
  `mediable_id` bigint(20) unsigned NOT NULL,
  `collection` varchar(32) NOT NULL DEFAULT 'gallery',
  `file_path` varchar(255) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_hash` char(64) DEFAULT NULL,
  `mime_type` varchar(128) NOT NULL,
  `size` bigint(20) unsigned NOT NULL DEFAULT 0,
  `width` int(10) unsigned DEFAULT NULL,
  `height` int(10) unsigned DEFAULT NULL,
  `alt_text` varchar(255) DEFAULT NULL,
  `caption` varchar(255) DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `uploaded_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_media_mediable` (`mediable_type`,`mediable_id`),
  KEY `idx_media_collection` (`mediable_type`,`mediable_id`,`collection`),
  KEY `idx_media_sort` (`mediable_type`,`mediable_id`,`sort_order`),
  KEY `fk_media_uploader` (`uploaded_by`),
  CONSTRAINT `fk_media_uploader` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL DEFAULT 1,
  `applied_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `migration` (`migration`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `channel` enum('email','sms','push','webhook') NOT NULL,
  `recipient` varchar(255) NOT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `body` text NOT NULL,
  `status` enum('queued','sent','failed','retrying') NOT NULL DEFAULT 'sent',
  `meta` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`meta`)),
  `error` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `sent_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_notif_channel_status` (`channel`,`status`),
  KEY `idx_notif_recipient` (`recipient`),
  KEY `idx_notif_created` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `offline_trip_cache`
--

DROP TABLE IF EXISTS `offline_trip_cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offline_trip_cache` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `trip_id` bigint(20) unsigned NOT NULL,
  `checkpoint_id` bigint(20) unsigned NOT NULL,
  `qr_codes_json` longtext NOT NULL,
  `cached_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `expires_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_otc_trip` (`trip_id`),
  CONSTRAINT `fk_otc_trip` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `password_history`
--

DROP TABLE IF EXISTS `password_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_history` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pwh_user_time` (`user_id`,`created_at`),
  CONSTRAINT `fk_pwh_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `email` varchar(120) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `payroll`
--

DROP TABLE IF EXISTS `payroll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payroll` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `month` tinyint(3) unsigned NOT NULL,
  `year` smallint(5) unsigned NOT NULL,
  `salary_base` int(10) unsigned NOT NULL,
  `bonus_amount` int(10) unsigned NOT NULL DEFAULT 0,
  `deductions` int(10) unsigned NOT NULL DEFAULT 0,
  `net_amount` int(10) unsigned NOT NULL,
  `trips_count` smallint(5) unsigned NOT NULL DEFAULT 0,
  `is_paid` tinyint(1) NOT NULL DEFAULT 0,
  `paid_at` timestamp NULL DEFAULT NULL,
  `paid_by` bigint(20) unsigned DEFAULT NULL,
  `pdf_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_payroll` (`employee_id`,`month`,`year`),
  CONSTRAINT `fk_pay_emp` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(80) NOT NULL,
  `module` varchar(40) NOT NULL,
  `action` varchar(40) NOT NULL,
  `label` varchar(180) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 100,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_permissions_module` (`module`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pre_printed_tickets`
--

DROP TABLE IF EXISTS `pre_printed_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pre_printed_tickets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pre_print_number` varchar(25) NOT NULL,
  `batch_id` char(36) NOT NULL,
  `trip_id` bigint(20) unsigned DEFAULT NULL,
  `seat_number` smallint(5) unsigned DEFAULT NULL,
  `qr_code` varchar(36) NOT NULL,
  `qr_code_hash` varchar(64) NOT NULL,
  `pdf_path` varchar(255) DEFAULT NULL,
  `agency_id` bigint(20) unsigned NOT NULL,
  `pre_printed_by` bigint(20) unsigned NOT NULL,
  `pre_printed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `activated_ticket_id` bigint(20) unsigned DEFAULT NULL,
  `activated_by` bigint(20) unsigned DEFAULT NULL,
  `activated_at` timestamp NULL DEFAULT NULL,
  `status` enum('disponible','active','annule') NOT NULL DEFAULT 'disponible',
  `cancelled_by` bigint(20) unsigned DEFAULT NULL,
  `cancelled_at` timestamp NULL DEFAULT NULL,
  `cancel_reason` text DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pre_print_number` (`pre_print_number`),
  UNIQUE KEY `qr_code` (`qr_code`),
  KEY `fk_pp_creator` (`pre_printed_by`),
  KEY `fk_pp_ticket` (`activated_ticket_id`),
  KEY `idx_pp_status` (`status`),
  KEY `idx_pp_batch` (`batch_id`),
  KEY `idx_pp_agency` (`agency_id`),
  KEY `idx_pp_trip` (`trip_id`),
  CONSTRAINT `fk_pp_agency` FOREIGN KEY (`agency_id`) REFERENCES `agencies` (`id`),
  CONSTRAINT `fk_pp_creator` FOREIGN KEY (`pre_printed_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_pp_ticket` FOREIGN KEY (`activated_ticket_id`) REFERENCES `tickets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pp_trip` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_permissions` (
  `role_id` bigint(20) unsigned NOT NULL,
  `permission_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`permission_id`),
  KEY `fk_rp_perm` (`permission_id`),
  CONSTRAINT `fk_rp_perm` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_rp_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) NOT NULL,
  `label` varchar(120) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_system` tinyint(1) NOT NULL DEFAULT 0,
  `sort_order` int(11) NOT NULL DEFAULT 100,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sales`
--

DROP TABLE IF EXISTS `sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sales` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cash_register_id` bigint(20) unsigned NOT NULL,
  `sale_type` enum('ticket','baggage') NOT NULL DEFAULT 'ticket',
  `ticket_id` bigint(20) unsigned DEFAULT NULL,
  `baggage_ticket_id` bigint(20) unsigned DEFAULT NULL,
  `amount_fcfa` int(10) unsigned NOT NULL,
  `payment_method` enum('especes','mobile_money') NOT NULL DEFAULT 'especes',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_sales_ticket` (`ticket_id`),
  KEY `idx_sales_cr` (`cash_register_id`),
  KEY `idx_sales_created` (`created_at`),
  KEY `idx_sales_baggage` (`baggage_ticket_id`),
  KEY `idx_sales_type` (`sale_type`),
  CONSTRAINT `fk_sales_baggage_ticket` FOREIGN KEY (`baggage_ticket_id`) REFERENCES `baggage_tickets` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_sales_cr` FOREIGN KEY (`cash_register_id`) REFERENCES `cash_registers` (`id`),
  CONSTRAINT `fk_sales_ticket` FOREIGN KEY (`ticket_id`) REFERENCES `tickets` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `schedules`
--

DROP TABLE IF EXISTS `schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedules` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `trip_id` bigint(20) unsigned DEFAULT NULL,
  `schedule_date` date NOT NULL,
  `shift_type` enum('voyage','agence','conge','absent') NOT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_sch_trip` (`trip_id`),
  KEY `idx_sch_date` (`schedule_date`),
  KEY `idx_sch_emp_date` (`employee_id`,`schedule_date`),
  CONSTRAINT `fk_sch_emp` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sch_trip` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `stops`
--

DROP TABLE IF EXISTS `stops`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stops` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `line_id` bigint(20) unsigned NOT NULL,
  `agency_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `order_position` tinyint(3) unsigned NOT NULL,
  `km_from_origin` decimal(8,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_stops_agency` (`agency_id`),
  KEY `idx_stops_line_order` (`line_id`,`order_position`),
  CONSTRAINT `fk_stops_agency` FOREIGN KEY (`agency_id`) REFERENCES `agencies` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_stops_line` FOREIGN KEY (`line_id`) REFERENCES `bus_lines` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tariff_baggage_natures`
--

DROP TABLE IF EXISTS `tariff_baggage_natures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tariff_baggage_natures` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) NOT NULL COMMENT 'Identifiant machine (ex: standard, fragile)',
  `label` varchar(100) NOT NULL COMMENT 'Libell├⌐ affich├⌐',
  `icon` varchar(50) NOT NULL DEFAULT 'package',
  `color_class` varchar(60) NOT NULL DEFAULT 'bg-slate-100 text-slate-700',
  `description` text DEFAULT NULL,
  `sort_order` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_baggage_natures_active` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tariff_passenger_categories`
--

DROP TABLE IF EXISTS `tariff_passenger_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tariff_passenger_categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) NOT NULL,
  `label` varchar(120) NOT NULL,
  `icon` varchar(60) DEFAULT NULL,
  `color_class` varchar(60) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tariff_service_map`
--

DROP TABLE IF EXISTS `tariff_service_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tariff_service_map` (
  `tariff_id` bigint(20) unsigned NOT NULL,
  `service_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`tariff_id`,`service_id`),
  KEY `fk_tsm_service` (`service_id`),
  CONSTRAINT `fk_tsm_service` FOREIGN KEY (`service_id`) REFERENCES `tariff_services` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_tsm_tariff` FOREIGN KEY (`tariff_id`) REFERENCES `tariffs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tariff_services`
--

DROP TABLE IF EXISTS `tariff_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tariff_services` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) NOT NULL,
  `label` varchar(100) NOT NULL,
  `icon` varchar(50) NOT NULL DEFAULT 'check',
  `color_class` varchar(60) NOT NULL DEFAULT 'bg-slate-100 text-slate-700',
  `description` text DEFAULT NULL,
  `sort_order` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_tariff_services_active` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tariff_ticket_types`
--

DROP TABLE IF EXISTS `tariff_ticket_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tariff_ticket_types` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) NOT NULL,
  `label` varchar(120) NOT NULL,
  `icon` varchar(60) DEFAULT NULL,
  `color_class` varchar(60) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tariff_travel_classes`
--

DROP TABLE IF EXISTS `tariff_travel_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tariff_travel_classes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) NOT NULL,
  `label` varchar(120) NOT NULL,
  `icon` varchar(60) DEFAULT NULL,
  `color_class` varchar(60) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tariffs`
--

DROP TABLE IF EXISTS `tariffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tariffs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `line_id` bigint(20) unsigned NOT NULL,
  `ticket_type` enum('passager','arret_route','bagage_franchise','bagage_excedent') NOT NULL,
  `price_fcfa` int(10) unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `baggage_included_qty` tinyint(3) unsigned NOT NULL DEFAULT 1 COMMENT 'Nombre de bagages inclus dans le prix du billet',
  `baggage_included_kg` decimal(5,1) NOT NULL DEFAULT 15.0 COMMENT 'Poids total en kg inclus dans le prix du billet',
  `travel_class` varchar(50) NOT NULL DEFAULT 'standard',
  `valid_from` date DEFAULT NULL,
  `valid_until` date DEFAULT NULL,
  `label` varchar(120) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `passenger_categories` longtext DEFAULT NULL,
  `service_ids` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_tariff` (`line_id`,`ticket_type`),
  KEY `idx_tariff_resolve` (`line_id`,`ticket_type`,`travel_class`,`is_active`,`valid_from`,`valid_until`),
  CONSTRAINT `fk_tariffs_line` FOREIGN KEY (`line_id`) REFERENCES `bus_lines` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ticket_type_configs`
--

DROP TABLE IF EXISTS `ticket_type_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ticket_type_configs` (
  `type_key` enum('passage_arret','passage_final','bagage_excedent','bagage_inclus','talon_arret') NOT NULL,
  `label` varchar(120) NOT NULL,
  `color` char(7) NOT NULL DEFAULT '#1A237E',
  `text_color` char(7) NOT NULL DEFAULT '#FFFFFF',
  `description` text DEFAULT NULL,
  `number_prefix` varchar(12) NOT NULL DEFAULT 'CB-PP',
  `number_padding` tinyint(3) unsigned NOT NULL DEFAULT 5,
  `number_reset` enum('yearly','never') NOT NULL DEFAULT 'yearly',
  `layout_variant` enum('A','B') NOT NULL DEFAULT 'A',
  `row_height_mm` smallint(5) unsigned NOT NULL DEFAULT 62,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `show_qr` tinyint(1) NOT NULL DEFAULT 1,
  `show_company_contact` tinyint(1) NOT NULL DEFAULT 1,
  `show_company_phone` tinyint(1) NOT NULL DEFAULT 1,
  `show_trip_info` tinyint(1) NOT NULL DEFAULT 1,
  `show_seat_info` tinyint(1) NOT NULL DEFAULT 1,
  `show_price_field` tinyint(1) NOT NULL DEFAULT 1,
  `show_agency_stub` tinyint(1) NOT NULL DEFAULT 1,
  `show_passenger_reference` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`type_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tickets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_number` varchar(20) NOT NULL,
  `trip_id` bigint(20) unsigned NOT NULL,
  `ticket_type` enum('passager','arret_route','bagage_franchise','bagage_excedent') NOT NULL DEFAULT 'passager',
  `passenger_category` varchar(50) NOT NULL DEFAULT 'adulte',
  `travel_class` varchar(50) NOT NULL DEFAULT 'standard',
  `tariff_id` bigint(20) unsigned DEFAULT NULL,
  `passenger_name` varchar(120) DEFAULT NULL,
  `passenger_phone` varchar(20) DEFAULT NULL,
  `seat_number` tinyint(3) unsigned DEFAULT NULL,
  `boarding_stop_id` bigint(20) unsigned DEFAULT NULL,
  `alighting_stop_id` bigint(20) unsigned DEFAULT NULL,
  `price_fcfa` int(10) unsigned NOT NULL,
  `qr_code` varchar(36) NOT NULL,
  `qr_code_hash` varchar(64) NOT NULL,
  `status` enum('emis','embarque','valide','arrive','annule') NOT NULL DEFAULT 'emis',
  `pre_print_id` bigint(20) unsigned DEFAULT NULL,
  `sold_by` bigint(20) unsigned NOT NULL,
  `agency_id` bigint(20) unsigned NOT NULL,
  `sold_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `cancelled_by` bigint(20) unsigned DEFAULT NULL,
  `cancelled_at` timestamp NULL DEFAULT NULL,
  `cancel_reason` text DEFAULT NULL,
  `printed_count` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `pdf_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ticket_number` (`ticket_number`),
  UNIQUE KEY `qr_code` (`qr_code`),
  KEY `fk_tickets_seller` (`sold_by`),
  KEY `idx_tickets_trip_status` (`trip_id`,`status`),
  KEY `idx_tickets_sold_at` (`sold_at`),
  KEY `idx_tickets_agency` (`agency_id`),
  KEY `idx_tickets_scope` (`passenger_category`,`travel_class`),
  KEY `idx_tickets_tariff` (`tariff_id`),
  CONSTRAINT `fk_tickets_agency` FOREIGN KEY (`agency_id`) REFERENCES `agencies` (`id`),
  CONSTRAINT `fk_tickets_seller` FOREIGN KEY (`sold_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_tickets_trip` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `trip_crew`
--

DROP TABLE IF EXISTS `trip_crew`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trip_crew` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `trip_id` bigint(20) unsigned NOT NULL,
  `employee_id` bigint(20) unsigned NOT NULL,
  `role` enum('chauffeur','convoyeur','caissier','controleur','guide','autre') NOT NULL DEFAULT 'convoyeur',
  `notes` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_trip_employee` (`trip_id`,`employee_id`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `trip_crew_ibfk_1` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trip_crew_ibfk_2` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `trips`
--

DROP TABLE IF EXISTS `trips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trips` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `trip_code` varchar(25) NOT NULL,
  `line_id` bigint(20) unsigned NOT NULL,
  `bus_id` bigint(20) unsigned NOT NULL,
  `driver_id` bigint(20) unsigned NOT NULL,
  `convoyeur_id` bigint(20) unsigned DEFAULT NULL,
  `trip_date` date NOT NULL,
  `departure_scheduled` time NOT NULL,
  `arrival_scheduled` time DEFAULT NULL,
  `departure_actual` time DEFAULT NULL,
  `arrival_actual` time DEFAULT NULL,
  `mileage_start` int(10) unsigned DEFAULT NULL,
  `mileage_end` int(10) unsigned DEFAULT NULL,
  `weather_conditions` varchar(100) DEFAULT NULL,
  `incident_notes` text DEFAULT NULL,
  `status` enum('planifie','embarquement','en_route','arrive','cloture','annule') NOT NULL DEFAULT 'planifie',
  `notes` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `trip_code` (`trip_code`),
  KEY `fk_trips_line` (`line_id`),
  KEY `idx_trips_date_status` (`trip_date`,`status`),
  KEY `idx_trips_bus` (`bus_id`),
  KEY `idx_trips_driver` (`driver_id`),
  KEY `fk_trips_convoyeur` (`convoyeur_id`),
  CONSTRAINT `fk_trips_bus` FOREIGN KEY (`bus_id`) REFERENCES `buses` (`id`),
  CONSTRAINT `fk_trips_convoyeur` FOREIGN KEY (`convoyeur_id`) REFERENCES `drivers` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_trips_driver` FOREIGN KEY (`driver_id`) REFERENCES `drivers` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_trips_line` FOREIGN KEY (`line_id`) REFERENCES `bus_lines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `two_factor_secrets`
--

DROP TABLE IF EXISTS `two_factor_secrets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `two_factor_secrets` (
  `user_id` bigint(20) unsigned NOT NULL,
  `secret` varchar(64) NOT NULL,
  `recovery_codes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recovery_codes`)),
  `enabled` tinyint(1) NOT NULL DEFAULT 0,
  `confirmed_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`user_id`),
  CONSTRAINT `fk_2fa_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_permissions`
--

DROP TABLE IF EXISTS `user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_permissions` (
  `user_id` bigint(20) unsigned NOT NULL,
  `permission_id` bigint(20) unsigned NOT NULL,
  `granted` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`user_id`,`permission_id`),
  KEY `fk_up_perm` (`permission_id`),
  CONSTRAINT `fk_up_perm` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_up_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_sessions`
--

DROP TABLE IF EXISTS `user_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_sessions` (
  `id` varchar(128) NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `fingerprint` varchar(64) DEFAULT NULL,
  `last_activity` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_us_user` (`user_id`,`last_activity`),
  CONSTRAINT `fk_us_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `email` varchar(120) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `password_changed_at` timestamp NULL DEFAULT NULL,
  `password_expires_at` timestamp NULL DEFAULT NULL,
  `role` enum('admin','raf','exploitation','chef_agence','caissier','controleur','mecanicien','chauffeur') NOT NULL,
  `role_id` bigint(20) unsigned DEFAULT NULL,
  `agency_id` bigint(20) unsigned DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `must_change_password` tinyint(1) NOT NULL DEFAULT 0,
  `last_login_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  `failed_login_count` int(10) unsigned NOT NULL DEFAULT 0,
  `locked_until` timestamp NULL DEFAULT NULL,
  `two_factor_enabled` tinyint(1) NOT NULL DEFAULT 0,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_role` (`role`),
  KEY `idx_users_agency` (`agency_id`),
  KEY `idx_users_role_id` (`role_id`),
  KEY `idx_users_locked` (`locked_until`),
  CONSTRAINT `fk_users_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `validations`
--

DROP TABLE IF EXISTS `validations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `validations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_id` bigint(20) unsigned NOT NULL,
  `checkpoint_id` bigint(20) unsigned NOT NULL,
  `validated_by` bigint(20) unsigned NOT NULL,
  `validated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `device_id` varchar(50) DEFAULT NULL,
  `is_synced` tinyint(1) NOT NULL DEFAULT 1,
  `sync_at` timestamp NULL DEFAULT NULL,
  `is_anomaly` tinyint(1) NOT NULL DEFAULT 0,
  `anomaly_note` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_val_ticket_checkpoint` (`ticket_id`,`checkpoint_id`),
  KEY `fk_val_checkpoint` (`checkpoint_id`),
  KEY `fk_val_user` (`validated_by`),
  KEY `idx_val_validated_at` (`validated_at`),
  CONSTRAINT `fk_val_checkpoint` FOREIGN KEY (`checkpoint_id`) REFERENCES `checkpoints` (`id`),
  CONSTRAINT `fk_val_ticket` FOREIGN KEY (`ticket_id`) REFERENCES `tickets` (`id`),
  CONSTRAINT `fk_val_user` FOREIGN KEY (`validated_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-06 10:48:03
